body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 1em 0;
  background: #0073e6;
  color: white;
  padding: 15px;
}

.map {
  width: 100%;
  height: 80vh;
  border: 2px solid #ccc;
}

#gps-stats {
  text-align: center;
  padding: 10px;
  background: #f4f4f4;
  font-size: 16px;
}

#stop-btn {
  display: none;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: block;
}

#stop-btn:hover {
  background-color: darkred;
  cursor: pointer;
}

.ol-popup {
  position: absolute;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  bottom: 12px;
  left: -50px;
  min-width: 150px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  font-size: 14px;
  border-radius: 8px;
}

.ol-popup:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}